In [60]:
print("Importacion de librerias")
import pandas as pd
import os

Importacion de librerias

In [61]:
print("Cambiar directorio a un directorio de su preferencia")
os.chdir('C:/Users/Rubén/Documents/DATA ANALIST')
print("Directorio actual:", os.getcwd())

Cambiar directorio a un directorio de su preferencia
Directorio actual: C:\Users\Rubén\Documents\DATA ANALIST

In [62]:
print("Lee el archivo CSV")
df = pd.read_csv('C:/Users/Rubén/Documents/DATA ANALIST/Height of Male and Female by Country 2022.csv')

Lee el archivo CSV

In [63]:
print("Imprimir las primeras 50 líneas")
print(df.head(50))

Imprimir las primeras 50 líneas
    Rank                      Country Name  Male Height in Cm  \
0      1                       Netherlands             183.78
1      2                        Montenegro             183.30
2      3                           Estonia             182.79
3      4            Bosnia and Herzegovina             182.47
4      5                           Iceland             182.10
5      6                           Denmark             181.89
6      7                    Czech Republic             181.19
7      8                            Latvia             181.17
8      9                          Slovakia             181.02
9     10                          Slovenia             180.98
10    11                           Ukraine             180.98
11    12                           Croatia             180.76
12    13                            Serbia             180.74
13    14                         Lithuania             180.72
14    15                            Poland             180.69
15    16                           Finland             180.57
16    17                            Norway             180.48
17    18                            Sweden             180.46
18    19                           Germany             180.28
19    20                          Dominica             180.15
20    21                           Bermuda             179.72
21    22                       Puerto Rico             179.48
22    23                            Greece             179.26
23    24                           Belgium             179.09
24    25                           Ireland             179.04
25    26                           Lebanon             178.96
26    27                           Andorra             178.84
27    28               Antigua and Barbuda             178.84
28    29                         Australia             178.77
29    30                            Canada             178.75
30    31                       Switzerland             178.73
31    32                           Grenada             178.70
32    33                           Belarus             178.69
33    34                            France             178.60
34    35                           Austria             178.52
35    36                        Luxembourg             178.46
36    37                      Cook Islands             178.32
37    38                  French Polynesia             178.32
38    39                    United Kingdom             178.21
39    40                           Romania             177.82
40    41                       New Zealand             177.72
41    42  Saint Vincent and the Grenadines             177.49
42    43                              Niue             177.19
43    44                    American Samoa             177.09
44    45                          Barbados             177.03
45    46                           Jamaica             176.97
46    47                     United States             176.94
47    48                           Tunisia             176.85
48    49                            Russia             176.65
49    50                           Hungary             176.59

    Female Height in Cm  Male Height in Ft  Female Height in Ft
0                170.36               6.03                 5.59
1                169.96               6.01                 5.58
2                168.66               6.00                 5.53
3                167.47               5.99                 5.49
4                168.91               5.97                 5.54
5                169.47               5.97                 5.56
6                167.96               5.94                 5.51
7                168.81               5.94                 5.54
8                167.12               5.94                 5.48
9                167.20               5.94                 5.49
10               166.62               5.94                 5.47
11               166.80               5.93                 5.47
12               168.29               5.93                 5.52
13               167.63               5.93                 5.50
14               165.78               5.93                 5.44
15               166.48               5.92                 5.46
16               166.45               5.92                 5.46
17               166.67               5.92                 5.47
18               166.18               5.91                 5.45
19               166.89               5.91                 5.48
20               166.11               5.90                 5.45
21               163.06               5.89                 5.35
22               165.81               5.88                 5.44
23               163.40               5.88                 5.36
24               164.50               5.87                 5.40
25               163.67               5.87                 5.37
26               165.53               5.87                 5.43
27               165.72               5.87                 5.44
28               164.67               5.87                 5.40
29               164.73               5.86                 5.40
30               164.33               5.86                 5.39
31               165.99               5.86                 5.45
32               166.93               5.86                 5.48
33               164.49               5.86                 5.40
34               166.93               5.86                 5.48
35               165.07               5.86                 5.42
36               167.31               5.85                 5.49
37               166.52               5.85                 5.46
38               163.94               5.85                 5.38
39               164.73               5.83                 5.40
40               164.66               5.83                 5.40
41               165.30               5.82                 5.42
42               167.03               5.81                 5.48
43               167.55               5.81                 5.50
44               165.66               5.81                 5.44
45               164.32               5.81                 5.39
46               163.31               5.81                 5.36
47               161.69               5.80                 5.30
48               164.52               5.80                 5.40
49               162.55               5.79                 5.33

In [64]:
print("Calcular media, mínima y máxima altura de hombres y mujeres:")

print("\nHombres:")
print("Media:", df["Male Height in Cm"].mean())
print("Mínima:", df["Male Height in Cm"].min())
print("Máxima:", df["Male Height in Cm"].max())

print("\nMujeres:")
print("Media:", df["Female Height in Cm"].mean())
print("Mínima:", df["Female Height in Cm"].min())
print("Máxima:", df["Female Height in Cm"].max())

Calcular media, mínima y máxima altura de hombres y mujeres:

Hombres:
Media: 173.08904522613065
Mínima: 160.13
Máxima: 183.78

Mujeres:
Media: 160.9429145728643
Mínima: 150.91
Máxima: 170.36

In [65]:
print("Obtener las alturas de tu país de origen:")
pais = "Mexico"
altura_pais = df[df["Country Name"] == pais]

print(f"\n Alturas para {pais}:")
print(altura_pais)

Obtener las alturas de tu país de origen:

 Alturas para Mexico:
     Rank Country Name  Male Height in Cm  Female Height in Cm  \
138   139       Mexico             170.29                157.9

     Male Height in Ft  Female Height in Ft
138               5.59                 5.18